body{
	margin: 0px;
	padding: 0px;
}
.box{
	background-color: #AAAAAA;
	height: 610px;
	text-align: center;
	border: 1px white solid;
	background-image: url(../img/7.jpg);
	position: relative;
}
.box .name{
	height: 160px;
	position: relative;
	top: 140px;
	font: 600 60px/30px  "agency fb" ;
	color: firebrick;
}
.box .content{
	width: 900px;
	margin: 0 auto;
	text-indent: 2em;
	background-color: rgba(99,00,22,0.4);
}
.box .content p{
	text-align: left;
	font: 300 35px/70px "arial rounded mt bold";
}
.box .lin{
	position: absolute;
	right: -50px;
	bottom: 30px;
}


.box .lin p{
	position: absolute;
	top: -00px;
	right: 60px;
}