.footer{
	height: 39px;
	background-color:#FFFFFF;
	border-top: 1px solid black;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.footer span{
	text-align: center;
	font: 100 20px/40px "微软雅黑";
}
.footer a{
	display: inline-block;
	width: 32%;
	text-align: center;
}

a:hover{
	background-color: white;
}

.header{
	width: 100%;
	height: 40px;
	background-color: #122B40;
	text-align: center;
	color: white;
	font: 100 20px/40px "微软雅黑";
}
.header .sh{
	float: right;
	margin-right: 9px;
}

.content{
	width: 100%;
	background-color: #EEEEEE;
}
.content ul{
	width: 100%;
	
}
.content ul li{
	
	box-shadow: 0px 0px 4px #999;
	background-color: #FFFFFF;
	width: 95%;
	height: 70px;
	border: 1px beige solid;
	border-radius: 11px;
	margin: 10px auto;
}

.content ul li img{
	border-radius: 50%;
	width: 50px;
	float: left;
	margin: 10px;
	margin-right: 20px;
}
.content ul li span{
	font: 100 18px/30px "微软雅黑"; 
}


.content ul li p{
	font: 100 12px/20px "微软雅黑";
	color: #999999; 
}
